In [4]:
import pandas as pd
import numpy as np
import pickle
from tqdm import tqdm, tqdm_pandas
from geopy.distance import great_circle, vincenty
import json
from shapely.geometry import shape, Point, Polygon
from rtree import index

In [5]:
def open_pkl(path):
    """Open pickle file."""
    with open(path, 'r') as picklefile:
        f = pickle.load(picklefile)
    return f

def to_pkl(path, name):
    "Pickle a file."
    with open(path, 'w') as picklefile:
        pickle.dump(name, picklefile)

### 1. Reverse geocode latitude and longitude to zip code & ZCTA.

Load zip codes and subset NYC zips.

In [408]:
# alternate zips; not very precise since they overlap a lot...
zips_alt = pd.read_csv('data/zipcode-database.csv')
zips_alt = zips_alt[zips_alt.State == 'NY']

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [61]:
zips = pd.read_csv('data/zipcode/zipcode.csv')

In [62]:
# should find better way of doing this that isn't just me hand picking the indexes
zips = zips[zips.state == 'NY']
man_si_bx = zips.loc[3343:3646, :]
queens_bk = zips.loc[3845:3971, :]
rockaways = zips.loc[4030:4037, :]
nyc_zips = pd.concat([man_si_bx, queens_bk, rockaways])

In [63]:
# make a list of data
zip_list = zip(zip(nyc_zips.latitude.values, nyc_zips.longitude.values), nyc_zips.zip.values)

Define zip matching functions using spherical distance.

In [68]:
def get_distance(zip_pair, point_pair):
    """Get distance between two (lat, lon) pairs."""
    return great_circle(zip_pair, point_pair).miles

In [189]:
def get_zip(point, zip_list):
    """Get matching zip code given a (lat, lon) pair. Based on distance."""
    # point = (lat, lon)
    distances = [(get_distance(point, p[0]), p[1]) for p in zip_list]
    return min(distances)[1]

In [660]:
def add_zips_df(df, lat, lon):
    """Add zip codes to df with (lat, lon) given df and names of lat, lon columns. 
    Implemented with tqdm to show progress bar.
    """
    df_pairs = zip(df[lat], df[lon])
    zip_results = [get_zip(coord, zip_list) for coord in tqdm(df_pairs)]
    df.loc[:, 'zipcode'] = zip_results

Define zip matching functions using straight difference in (lat, lon) numbers.

In [183]:
def get_diff(zip_pair, point_pair):
    return sum((abs(zip_pair[0] - point_pair[0]), abs(zip_pair[1] - point_pair[1])))

In [190]:
def get_zip_diff(point, zip_list):
    distances = [(get_diff(point, p[0]), p[1]) for p in zip_list]
    return min(distances)[1]

In [187]:
def add_zips_df_diff(df, lat, lon):
    """Add zip codes to df with (lat, lon) given df and names of lat, lon columns. 
    Implemented with tqdm to show progress bar.
    """
    df_pairs = zip(df[lat], df[lon])
    zip_results = [get_zip_diff(coord, zip_list) for coord in tqdm(df_pairs)]
    df.loc[:, 'zipcode_diff'] = zip_results

Add zips to original perceived safety data.

In [842]:
ss_orig = pd.read_json('data/streetscore_original.json')

In [867]:
def clean_ss_df(df):
    """Clean original ss data df."""
    nyc = df[df.City == 'New York City']
    nyc = nyc[nyc['QS Safer'] != '#VALUE!']
    keep = ['Lat', 'Lon', 'QS Safer', 'QS Unique', 'QS Upperclass', 'Error in QS Safer', 'Error in QS Unique', 'Error in QS Upperclass']
    return nyc[keep]

In [868]:
ss_orig_nyc = clean_ss_df(ss_orig)

In [877]:
add_zips_df(ss_orig_nyc, 'Lat', 'Lon')

Add zips to predicted perceived safety data.

In [130]:
ss = pd.read_csv('data/streetscore_newyorkcity.csv')

In [156]:
add_zips_df(ss, 'latitude', 'longitude')

Add zips to crime data.

In [158]:
crime = pd.read_csv('data/NYPD_7_Major_Felony_Incidents.csv')

In [159]:
def get_lat(x):
    """Get latitude given tuple pair of (latitude, longitude)."""
    try:
        return x.translate(None, "'(),").split()[0]
    except:
        return x
    
def get_lon(x):
    """Get longitude given tuple pair of (latitude, longitude)."""
    try:
        return x.translate(None, "'(),").split()[1]
    except:
        return x

In [160]:
crime['lat'] = crime['Location 1'].apply(get_lat)
crime['lon'] = crime['Location 1'].apply(get_lon)

In [162]:
add_zips_df(crime, 'lat', 'lon')

### 2. Match zip codes to Census ZCTAs

In [286]:
zcta = pd.read_csv('data/zip_to_zcta_2015.csv')

In [300]:
zcta_dict = dict(zip(zcta.ZIP.values, zcta.ZCTA.values))

In [402]:
def add_zcta_df(df, zipcol):
    df['zcta'] = df[zipcol].apply(lambda x: zcta_dict[x] if x in zcta_dict else '')

In [ ]:
add_zcta_df(ss, 'zipcode')
add_zcta_df(crime, 'zipcode')

In [878]:
add_zcta_df(ss_orig_nyc, 'zipcode')

In [405]:
crime2011 = crime[crime['Occurrence Year'] == 2011]
crime2014 = crime[crime['Occurrence Year'] == 2014]

### 3. Get Census block group by latitude and longitude.

In [10]:
# load geojson file with shapes - state census block groups 
with open('data/tl_2010_36_bg10/blockgroups.json', 'r') as f:
    js_bg = json.load(f)

In [11]:
# nyc census blocks from nyc open data
with open('data/nyc2010bg/nyc2010cb.json', 'r') as f:
    js_cb = json.load(f)
    
# nyc census tracks from nyc open data
with open('data/nyc2010ct/nyc2010ct.json', 'r') as f:
    js_ct = json.load(f)

In [500]:
def get_fips(coord, json):
    """Return fips code given (lat, lon) and geojson file with geographies.
    No rtree indexing.
    """
    point = Point(coord[1], coord[0])
    for feature in json['features']:
        polygon = shape(feature['geometry'])
        if polygon.contains(point):
            return feature['properties']

In [501]:
# def get_fips_index(coord, json):
#     """Return fips code given (lat, lon) and geojson file. Uses rtree indexing to find intersections before
#     checking if a shape contains the point.
#     """
#     # create list of polygons and properties
#     polygons = [shape(feature['geometry']) for feature in json['features']]
#     properties = [feature['properties'] for feature in json['features']]
    
#     # create r-tree index
#     idx = index.Index()
#     for pos, poly in enumerate(polygons):
#         idx.insert(pos, poly.bounds)

#     # search for point in index
#     point = Point(coord[1], coord[0])
#     poly_idx = [i for i in idx.intersection((point.coords[0])) if point.within(polygons[i])]
#     for num, idx in enumerate(poly_idx, 1):
#         return properties[idx]

In [523]:
def add_fips_df(df, lat, lon, json):
    """Add fips data to df with (lat, lon) given df and names of lat, lon columns. 
    Implemented with tqdm to show progress bar.
    """
    df_pairs = zip(df[lat], df[lon])
    zip_results = [get_fips(coord, json) for coord in tqdm(df_pairs)]
    df.loc[:, 'fips_data'] = zip_results

In [816]:
def add_fips_idx_df_blocks(df, lat, lon, json):
    """Add fips codes to df. Use rtree indexing to find intersections before
    checking if a shape contains the point."""
    # create list of polygons and properties
    polygons = [shape(feature['geometry']) for feature in json['features']]
    properties = [feature['properties'] for feature in json['features']]
    
    # create r-tree index
    idx = index.Index()
    for pos, poly in enumerate(polygons):
        idx.insert(pos, poly.bounds)

    # get points to search
    df_pairs = zip(df[lat], df[lon])
    
    # search for point in index
    results = []
    for coord in tqdm(df_pairs):
        point = Point(float(coord[1]), float(coord[0]))
        try:
            poly_idx = [i for i in idx.intersection((point.coords[0])) if point.within(polygons[i])]
            if len(poly_idx) > 0:
                for num, idx_result in enumerate(poly_idx, 1):
                    results.append(properties[idx_result])
            else:
                results.append('no result')
        except:
            results.append('error')
            continue

    # get blocks
    blocks = []
    for result in results:
        try:
            blocks.append(result['BCTCB2010'])
        except:
            blocks.append('no result')
            
#     # get block groups
#     block_groups = []
#     for result in results:
#         try:
#             block_groups.append(result['GEOID10'])
#         except:
#             block_groups.append('no result')
    
#     # get tracts
#     tracts = []
#     for group in block_groups:
#         try:
#             tracts.append(group[:-1])
#         except:
#             tracts.append('no result')
    
    # update df with results
    df.loc[:, 'geo_detail'] = results
    df.loc[:, 'block'] = blocks
#     df.loc[:, 'fips_bg'] = block_groups
#     df.loc[:, 'fips_tract'] = tracts

In [9]:
def add_fips_idx_df_bg(df, lat, lon, json):
    """Add fips codes to df. Use rtree indexing to find intersections before
    checking if a shape contains the point."""
    # create list of polygons and properties
    polygons = [shape(feature['geometry']) for feature in json['features']]
    properties = [feature['properties'] for feature in json['features']]
    
    # create r-tree index
    idx = index.Index()
    for pos, poly in enumerate(polygons):
        idx.insert(pos, poly.bounds)

    # get points to search
    df_pairs = zip(df[lat], df[lon])
    
    # search for point in index
    results = []
    for coord in tqdm(df_pairs):
        point = Point(float(coord[1]), float(coord[0]))
        try:
            poly_idx = [i for i in idx.intersection((point.coords[0])) if point.within(polygons[i])]
            if len(poly_idx) > 0:
                for num, idx_result in enumerate(poly_idx, 1):
                    results.append(properties[idx_result])
            else:
                results.append('no result')
        except:
            results.append('error')
            continue
            
    # get block groups
    block_groups = []
    for result in results:
        try:
            block_groups.append(result['GEOID10'])
        except:
            block_groups.append('no result')
    
    # get tracts
    tracts = []
    for group in block_groups:
        try:
            tracts.append(group[:-1])
        except:
            tracts.append('no result')
    
    # update df with results
    df.loc[:, 'fips_detail'] = results
    df.loc[:, 'fips_bg'] = block_groups
    df.loc[:, 'fips_tract'] = tracts

In [853]:
%time add_fips_idx_df_bg(ss, 'latitude', 'longitude', js_bg)

CPU times: user 3min 27s, sys: 3.06 s, total: 3min 30s
Wall time: 3min 46s

In [635]:
%time add_fips_idx_df(crime, 'lat', 'lon', js_bg)

CPU times: user 8min 42s, sys: 6.37 s, total: 8min 48s
Wall time: 8min 55s

In [699]:
add_fips_idx_df(ss_orig_nyc, 'Lat', 'Lon', js_bg)

In [874]:
print ss_orig_nyc[ss_orig_nyc.fips_bg == 'no result'].shape[0]
print ss[ss.fips_bg == 'no result'].shape[0]
print crime[crime.fips_bg == 'no result'].shape[0]

0
13
71

In [805]:
%time add_fips_idx_df(ss, 'latitude', 'longitude', js_cb)

CPU times: user 2min 46s, sys: 3.05 s, total: 2min 49s
Wall time: 3min 2s

In [808]:
%time add_fips_idx_df(crime, 'lat', 'lon', js_cb)

CPU times: user 10min 55s, sys: 18.1 s, total: 11min 13s
Wall time: 14min 14s

In [832]:
%time add_fips_idx_df_bg(ss_orig_nyc, 'Lat', 'Lon', js_bg)

CPU times: user 8.58 s, sys: 214 ms, total: 8.79 s
Wall time: 9.09 s

In [872]:
%time add_fips_idx_df_bg2(ss_orig_nyc, 'Lat', 'Lon', js_bg)

CPU times: user 10 s, sys: 1.92 s, total: 12 s
Wall time: 12.9 s

#### airbnb data

In [3]:
airbnb_listings_det = pd.read_csv('data/airbnb_listings_det.csv')

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
add_fips_idx_df_bg(airbnb_listings_det, 'latitude', 'longitude', js_bg)

In [14]:
len(set(airbnb_listings_det.fips_tract))

1575

#### 311 COMPLAINTS

In [6]:
complaints = open_pkl('data/pickled/x311_2014.pkl')

In [12]:
add_fips_idx_df_bg(complaints, 'Latitude', 'Longitude', js_bg)

In [17]:
to_pkl('data/pickled/compaints_geo.pkl', complaints)

#### TRANSIT ACCESS

In [34]:
mta = pd.read_csv('data/dem_data/subway_stations.csv')

In [36]:
mta['line_station'] = mta.Line + mta.Station_Name

In [38]:
mta2 = mta.drop_duplicates(subset = 'line_station')

In [45]:
mta2 = mta2.iloc[:, :5]

In [81]:
mta2.head()

,Division,Line,Station_Name,Station_Latitude,Station_Longitude,fips_detail,fips_bg,fips_tract
0,BMT,Astoria,Ditmars Blvd,40.775036,-73.912034,"{u'AWATER10': 0, u'TRACTCE10': u'011500', u'AL...",360810115002,36081011500
4,BMT,Astoria,Astoria Blvd-Hoyt Av,40.770258,-73.917843,"{u'AWATER10': 0, u'TRACTCE10': u'012500', u'AL...",360810125001,36081012500
8,BMT,Astoria,30 Av-Grand Av,40.766779,-73.921479,"{u'AWATER10': 0, u'TRACTCE10': u'006300', u'AL...",360810063001,36081006300
12,BMT,Astoria,Broadway,40.761820,-73.925508,"{u'AWATER10': 0, u'TRACTCE10': u'005900', u'AL...",360810059003,36081005900
15,BMT,Astoria,36 Av-Washington Av,40.756804,-73.929575,"{u'AWATER10': 0, u'TRACTCE10': u'005300', u'AL...",360810053004,36081005300

In [83]:
to_pkl('data/pickled/mta_stations.pkl', mta2)

In [80]:
add_fips_idx_df_bg(mta2, 'Station_Latitude', 'Station_Longitude', js_bg)

In [66]:
mta_coords = zip(mta.Station_Latitude, mta.Station_Longitude)

In [74]:
def get_shortest_distance(point, coords_list):
    """Get matching zip code given a (lat, lon) pair. Based on distance."""
    # point = (lat, lon)
    distances = [get_distance(point, p) for p in coords_list]
    return min(distances)

In [75]:
get_shortest_distance((40.775036,-73.912034), mta_coords)

6.65851822892101e-13

In [78]:
def add_transit_distance_df(df, lat, lon):
    """Add zip codes to df with (lat, lon) given df and names of lat, lon columns. 
    Implemented with tqdm to show progress bar.
    """
    df_pairs = zip(df[lat], df[lon])
    zip_results = [get_shortest_distance(coord, mta_coords) for coord in tqdm(df_pairs)]
    df.loc[:, 'subway_distance'] = zip_results

In [79]:
add_transit_distance_df(ssp, 'latitude', 'longitude')

 10%|█         | 32410/322386 [27:50<4:29:36, 17.93it/s]

KeyboardInterrupt:

In [56]:
tractdf = open_pkl('data/pickled/tract_df.pkl')

In [59]:
ssp = open_pkl('data/pickled/ss_withzip.pkl')

In [60]:
ssp

,latitude,longitude,q-score,zipcode,q_norm,zcta,fips_detail,fips_bg,fips_tract
0,40.700909,-74.013504,11.062166,10041,3.204716,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
1,40.701000,-74.013878,10.818611,10041,3.152896,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
2,40.701080,-74.012878,12.677955,10041,3.548501,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
3,40.701187,-74.013268,11.417325,10041,3.280282,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
4,40.701244,-74.012115,25.199091,10041,6.212573,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
5,40.701332,-74.012573,9.335472,10041,2.837334,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
6,40.701401,-74.013954,21.422491,10041,5.409041,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
7,40.701462,-74.014297,11.072771,10041,3.206973,10004,"{u'AWATER10': 0, u'TRACTCE10': u'031900', u'AL...",360610319001,36061031900
8,40.701477,-74.011406,21.323076,10041,5.387889,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
9,40.701496,-74.014694,9.223970,10041,2.813611,10004,"{u'AWATER10': 0, u'TRACTCE10': u'031900', u'AL...",360610319001,36061031900
10,40.701530,-74.011810,17.142195,10041,4.498339,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
11,40.701630,-74.010490,18.004122,10041,4.681728,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
12,40.701633,-74.013344,11.630168,10041,3.325568,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
13,40.701645,-74.012650,19.722942,10041,5.047434,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
14,40.701756,-74.013657,21.745884,10041,5.477848,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
15,40.701801,-74.010841,31.937878,10041,7.646357,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
16,40.701805,-74.011185,12.101864,10041,3.425929,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
17,40.701832,-74.014389,33.230228,10041,7.921325,10004,"{u'AWATER10': 0, u'TRACTCE10': u'031900', u'AL...",360610319001,36061031900
18,40.701839,-74.013031,20.000559,10041,5.106502,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
19,40.701866,-74.014786,10.209755,10041,3.023352,10004,"{u'AWATER10': 0, u'TRACTCE10': u'031900', u'AL...",360610319001,36061031900
20,40.701874,-74.011955,31.014561,10041,7.449907,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
21,40.701900,-74.012337,28.533714,10041,6.922067,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
22,40.701923,-74.010117,21.787758,10041,5.486757,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
23,40.701931,-74.009720,19.279568,10041,4.953100,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
24,40.702129,-74.009071,19.291643,10041,4.955669,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
25,40.702164,-74.013741,20.415297,10041,5.194744,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
26,40.702179,-74.014130,23.511011,10041,5.853407,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
27,40.702187,-74.010666,28.589420,10041,6.933919,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
28,40.702194,-74.011383,26.885172,10041,6.571313,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
29,40.702206,-74.009476,23.618658,10041,5.876310,10004,"{u'AWATER10': 0, u'TRACTCE10': u'000900', u'AL...",360610009001,36061000900
...,...,...,...,...,...,...,...,...,...
322356,40.796204,-73.819260,27.857742,11357,6.778243,11357,"{u'AWATER10': 0, u'TRACTCE10': u'098100', u'AL...",360810981001,36081098100
322357,40.796230,-73.821114,20.716995,11357,5.258935,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322358,40.796230,-73.820320,27.039709,11357,6.604193,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322359,40.796234,-73.821495,28.339390,11357,6.880721,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322360,40.796238,-73.818893,30.401203,11357,7.319405,11357,"{u'AWATER10': 0, u'TRACTCE10': u'098100', u'AL...",360810981001,36081098100
322361,40.796249,-73.819954,28.071350,11357,6.823691,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322362,40.796417,-73.818512,21.956326,11357,5.522623,11357,"{u'AWATER10': 0, u'TRACTCE10': u'098100', u'AL...",360810981001,36081098100
322363,40.796463,-73.819603,31.206936,11357,7.490837,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322364,40.796471,-73.828392,22.468214,11351,5.631535,11351,"{u'AWATER10': 0, u'TRACTCE10': u'094500', u'AL...",360810945001,36081094500
322365,40.796471,-73.828789,14.717350,11351,3.982415,11351,"{u'AWATER10': 0, u'TRACTCE10': u'094500', u'AL...",360810945001,36081094500
322366,40.796505,-73.820503,24.613094,11357,6.087892,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322367,40.796505,-73.820923,18.520164,11357,4.791524,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322368,40.796513,-73.827629,23.938599,11351,5.944383,11351,"{u'AWATER10': 0, u'TRACTCE10': u'094500', u'AL...",360810945001,36081094500
322369,40.796520,-73.822075,25.821342,11357,6.344966,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322370,40.796532,-73.827263,21.659048,11351,5.459372,11351,"{u'AWATER10': 0, u'TRACTCE10': u'094500', u'AL...",360810945001,36081094500
322371,40.796543,-73.823143,19.068476,11357,4.908186,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322372,40.796558,-73.821709,28.213421,11357,6.853919,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322373,40.796558,-73.826195,14.895672,11351,4.020356,11351,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322374,40.796558,-73.826553,17.902802,11351,4.660171,11351,"{u'AWATER10': 0, u'TRACTCE10': u'094500', u'AL...",360810945001,36081094500
322375,40.796562,-73.822769,20.771002,11357,5.270426,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322376,40.796734,-73.821327,21.998472,11357,5.531590,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322377,40.796776,-73.822418,24.525810,11357,6.069321,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322378,40.796818,-73.823318,22.717758,11357,5.684629,11357,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322379,40.796822,-73.823738,27.321709,11351,6.664193,11351,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322380,40.796822,-73.828926,14.613941,11351,3.960413,11351,"{u'AWATER10': 863922, u'TRACTCE10': u'094500',...",360810945000,36081094500
322381,40.796921,-73.826027,14.798035,11351,3.999582,11351,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322382,40.796940,-73.827057,19.615686,11351,5.024614,11351,"{u'AWATER10': 863922, u'TRACTCE10': u'094500',...",360810945000,36081094500
322383,40.796955,-73.826714,19.834711,11351,5.071215,11351,"{u'AWATER10': 0, u'TRACTCE10': u'094500', u'AL...",360810945001,36081094500
322384,40.797199,-73.826363,15.853324,11351,4.224111,11351,"{u'AWATER10': 0, u'TRACTCE10': u'097300', u'AL...",360810973001,36081097300
322385,40.797241,-73.827255,18.679102,11351,4.825341,11351,"{u'AWATER10': 863922, u'TRACTCE10': u'094500',...",360810945000,36081094500

#### CAPITAL PROJECTS

In [96]:
const = pd.read_csv('data/dem_data/Projects_in_construction.csv')

In [101]:
const.shape

(438, 8)

In [100]:
const.loc[0, 'Location 1']

'222 134 STREET\nNew York, NY 10030\n(40.8149219739981, -73.94493618207292)'

In [106]:
const['coord'] = const['Location 1'].apply(lambda x: x.split('\n')[2] if type(x) == str else x)

In [112]:
const.dropna(inplace = 1)

In [115]:
const[const.consttype == 'CIP']

,name,boro,geo_dist,projdesc,award,consttype,buildingid,Location 1,coord
0,ACADEMY OF COLLABORATIVE ED,M,5,EXTERIOR MASONRY/REPAIR WINDOWS,4678000.00,CIP,M092,"222 134 STREET\nNew York, NY 10030\n(40.814921...","(40.8149219739981, -73.94493618207292)"
1,AUTOMOTIVE TRADES VOC HS,K,14,FIRE ALARM,402500.00,CIP,K610,"50 BEDFORD AVENUE\nBrooklyn, NY 11222\n(40.722...","(40.72215011764413, -73.95311779468979)"
5,BEACH CHANNEL HS,Q,27,SWB-HAZARDOUS MASONRY/PARAPET/ROOF/EXTERIOR DOORS,23480000.00,CIP,Q410,"100 00 BEACH CHANNEL DRIVE\nQUEENS, NY 11694\n...","(40.57657830564432, -73.85077700055808)"
6,BEEKMAN SCHOOL (PROJ#1)PS@M971,M,2,BEEKMAN INTERIOR FIT-OUT WORK,24288902.98,CIP,M971,"12 SPRUCE ST\nNEW YORK, NY 10038\n(40.71174136...","(40.71174136432668, -74.00596371272646)"
7,BELL ACADEMY@ Q169,Q,25,SCIENCE LAB UPGRADE,342000.00,CIP,Q169,"18 25 212 STREET\nBAYSIDE, NY 11360\n(40.78070...","(40.78070133439911, -73.78226733686807)"
8,BREAD AND ROSES HS,M,5,EXTERIOR MASONRY/ROOFS/SECURITY LIGHTING/PARAPETS,7920000.00,CIP,M136,"6 EDGECOMBE AVENUE\nNEW YORK, NY 10030\n(40.81...","(40.81720320936426, -73.94777715277199)"
9,BRKLYN ACAD. OF GLOBAL FINANCE,K,16,NEW SCIENCE LAB SUITE,963000.00,CIP,K057,"125 STUYVESANT AVENUE\nBrooklyn, NY 11221\n(40...","(40.691184878420714, -73.93365273330902)"
10,BROADWAY EDUCATION CAMPUS,M,2,LEASE (1ST & 2ND FLOOR),20500000.00,CIP,M282,"26 BROADWAY\nNEW YORK, NY 10004\n(40.705493936...","(40.70549393646826, -74.01331914476191)"
11,BRONX COALITION HS (@X420),X,12,FY10 RESO A SCHOOL BASED HEALTH CLINIC,648000.00,CIP,X420,"1300 BOYNTON AVENUE\nBronx, NY 10472\n(40.8312...","(40.831280981918596, -73.87881047207371)"
12,BRONX ENGINEERING & TECH ACAD.,X,10,PAVED AREAS-BLACKTOP,1270000.00,CIP,X475,"99 TERRACE VIEW AVENUE\nBronx, NY 10463\n(40.8...","(40.877210772673564, -73.91213621128965)"
13,BRONX HS OF SCIENCE,X,10,SCIENCE LAB UPGRADE,1494999.00,CIP,X445,"75 205 STREET\nBronx, NY 10468\n(40.8755789880...","(40.875578988056745, -73.88689697376654)"
14,BROOKLYN COMM,K,13,FY10 RESO A OUT TRACK & MIXED USE,1061000.00,CIP,K117,"300 WILLOUGHBY AVENUE\nBrooklyn, NY 11205\n(40...","(40.69261081871296, -73.95894653911148)"
15,BROOKLYN THEATRE ARTS HS,K,18,FY11 RESO A AUDITORIUM UPGRADE,961142.00,CIP,K515,"6565 FLATLANDS AVENUE\nBROOKLYN, NY 11236\n(40...","(40.63268510415105, -73.91781691770764)"
16,BUSHWICK HS OF SOCIAL JUSTICE,K,32,FY10 RESO A GYM UPGRADE,539000.00,CIP,K480,"400 IRVING AVENUE\nBROOKLYN, NY 11237\n(40.696...","(40.69697946567666, -73.91084445466608)"
17,BUSHWICK LEADERS HS ACAD @K865,K,32,REPAIR OF SAGGING FLOORS,3338000.00,CIP,K865,"797 BUSHWICK AVENUE\nBrooklyn, NY 11221\n(40.6...","(40.69513370850302, -73.92824173943163)"
19,CAMPUS MAGNET-ENTREPRENEURSHIP,Q,29,EXTERIOR DOORS,84995.05,CIP,Q490,"207 01 116TH AVENUE\nCAMBRIA HEIGHTS, NY 11411...","(40.694293339066405, -73.73568329125084)"
20,CANARSIE H.S.,K,18,LL 41/16 COMPLIANCE,117726.54,CIP,K500,"1600 ROCKAWAY PKWY\nBROOKLYN, NY 11236\n(40.64...","(40.64078389170152, -73.89750860330521)"
21,CHOIR ACADEMY OF HARLEM,M,5,ROOFS/PARAPETS,2871000.00,CIP,M501,"2005 MADISON AVENUE\nNEW YORK, NY 10035\n(40.8...","(40.80736014272708, -73.93946681971579)"
22,CLEVELAND HS,Q,24,RETAINING WALLS/EXTERIOR STEPS,5817000.00,CIP,Q485,"21 27 HIMROD STREET\nQUEENS, NY 11385\n(40.701...","(40.70122489161548, -73.88334858436963)"
23,CLINTON HS,X,10,WINDOWS/AREAWAY/PARAPETS/TOWER ROOFS,7290000.00,CIP,X440,"100 MOSHOLU PKWY\nBRONX, NY 10468\n(40.8817836...","(40.88178360066122, -73.88672516295283)"
24,CO-OP TECHNICAL H.S.,M,2,PARAPETS/WINDOWS/ROOFS/EXT MASONRY,6292000.00,CIP,M646,"321 96 STREET\nNew York, NY 10128\n(40.7838691...","(40.78386913950879, -73.94612486053185)"
25,COBBLE HILL H.S.,K,15,FLOOD ELMNTN/EXT MASONRY,2983382.00,CIP,K804,"347 BALTIC STREET\nBrooklyn, NY 11201\n(40.684...","(40.684609118080985, -73.991150069287)"
27,DOE BUREAU OF SUPPLIES,Q,30,ELEVATORS/ELEC SYSTEMS,7342000.00,CIP,Q801,"44 36 VERNON BLVD\nQUEENS, NY 11101\n(40.74570...","(40.74570244980828, -73.93866902925225)"
31,E NY HS OF TRANSIT TECHNOLOGY,K,19,FY11 RESO A GYMNASIUM UPGRADE,419000.00,CIP,K615,"1 WELLS STREET\nBrooklyn, NY 11208\n(40.678266...","(40.678266696104096, -73.876114686314)"
32,EARTH SCHOOL (@M064),M,1,FY09 RESO A GREENROOF,769000.00,CIP,M064,"600 6 STREET\nNew York, NY 10009\n(40.72444152...","(40.72444152208924, -73.98162129932635)"
33,ELEANOR ROOSEVELT HS,M,2,IP SURVEILLANCE CAMERAS,888000.00,CIP,M855,"411 76TH STREET\nNEW YORK, NY 10001\n(40.62997...","(40.62997664645282, -74.02500811267907)"
34,EVANDER CHILDS AF,X,11,ATHLETIC FIELD LIGHTING,797000.00,CIP,X426,"800 GUNHILL ROAD\nBRONX, NY 10467\n(40.8759786...","(40.875978648353474, -73.8621066953495)"
35,EVANDER CHILDS H.S.,X,11,PA SYSTEM/ELECTRICAL UPGRADE,850000.00,CIP,X425,"800 GUN HILL ROAD\nBronx, NY 10467\n(40.875978...","(40.875978648353474, -73.8621066953495)"
36,FASHION INDUSTRIES VOC HS-M,M,2,FY10 RESO A AUDITORIUM UPGRADE,734100.00,CIP,M600,"225 24 STREET\nNew York, NY 10011\n(40.7450883...","(40.74508837330147, -73.99588924404328)"
37,FASHION INDUSTRIES VOC HS-M,M,2,SAFETY/PAVEMENT/CONTAINER/ MASONRY/ROOF,5993000.00,CIP,M600,"225 24 STREET\nNew York, NY 10011\n(40.7450883...","(40.74508837330147, -73.99588924404328)"
...,...,...,...,...,...,...,...,...,...
381,P.S. 90,X,9,EXTERIOR MASONRY/RETAINING WALLS,1857000.00,CIP,X090,"1116 SHERIDAN AVENUE\nBronx, NY 10456\n(40.831...","(40.83197402670032, -73.91794566527413)"
382,P.S. 93,K,13,FLOORS,1748375.00,CIP,K093,"31 NEW YORK AVENUE\nBrooklyn, NY 11216\n(40.67...","(40.679147761017056, -73.94682098403624)"
383,P.S. 94,K,15,PLANYC PLAYGROUND,264500.00,CIP,K094,"5010 6TH AVENUE\nBrooklyn, NY 11220\n(40.64372...","(40.64372817395559, -74.0082060957207)"
384,P.S. 95,K,21,EXT MASONRY/WINDOWS,3373000.00,CIP,K095,"345 VAN SICKLEN STREET\nBrooklyn, NY 11223\n(4...","(40.595683557953876, -73.97512954825021)"
385,P.S./I.S. 217 ROOSEVELT ISLAND,M,2,ROOFS/EXT MASONRY/WINDOWS/PARAPETS,8444000.00,CIP,M271,"645 MAIN STREET\nNew York, NY 10044\n(40.76494...","(40.76494453865442, -73.94703392787746)"
386,PARK EAST ALT HS,M,4,FY10 RESO A SCIENCE LAB,759354.00,CIP,M495,"230 34 EAST 105 STREET\nNew York, NY 10029\n(4...","(40.79161072055837, -73.94403228106489)"
387,PARK EAST ALT HS,M,4,WATER DAMAGE & MASONRY/ROOF/PARAPETS/WINDOWS,2887000.00,CIP,M495,"230 34 EAST 105 STREET\nNew York, NY 10029\n(4...","(40.79161072055837, -73.94403228106489)"
390,PS 130,M,2,SWB-WINDOWS,1327000.00,CIP,M130,"143 BAXTER STREET\nNew York, NY 10013\n(40.718...","(40.7186139475248, -73.99859121725036)"
392,PS 143,Q,24,FY10 RESO A PA SYSTEM,189000.00,CIP,Q143,"34 74 113 STREET\nCORONA, NY 11368\n(40.749678...","(40.749678220373596, -73.85304068857687)"
394,PS 186 COMPUTER LAB,X,12,FLOOD ELIMINATION/EXTERIOR RAMPS & CANOPIES,968700.00,CIP,X136,"750 JENNINGS STREET\nBronx, NY 10459\n(40.8318...","(40.8318681052202, -73.89748338090764)"
400,PS 290,Q,24,DEMOLITION FOR PS 290,3370000.00,CIP,Q290,"55 20 METROPOLITAN AVE\nRIDGEWOOD, NY 11385\n(...","(40.70122489161548, -73.88334858436963)"
404,PS 333 @ 198,Q,27,SCIENCE DEMO ROOM UPGRADE,670000.00,CIP,Q198,"3 65 BEACH 56 STREET\nQUEENS, NY 11692\n(40.59...","(40.593133885620375, -73.79540208463845)"
406,PS 43,Q,27,FIRE ALARM SYSTEM,1982000.00,CIP,Q043,"160 BEACH 29TH STREET\nROCKAWAY, NY 11691\n(40...","(40.594515128003, -73.76182654029463)"
417,RICHMOND HILL HS,Q,27,SWB - EXT MASONRY/WINDOWS/ROOFS,9333000.00,CIP,Q475,"89 30 114 STREET\nQUEENS, NY 11418\n(40.696370...","(40.69637041236467, -73.84031024991805)"
418,SARAH J HALE VOCATIONAL HS,K,15,ACCESSIBILITY/SAFETY,2450000.00,CIP,K655,"345 DEAN STREET\nBrooklyn, NY 11217\n(40.68371...","(40.68371105568558, -73.98061564042008)"
419,SCH FOR CLASSICS:ACAD OF THINK,K,19,NEW SCIENCE LAB SUITE,845000.00,CIP,K218,"370 FOUNTAIN AVENUE\nBrooklyn, NY 11208\n(40.6...","(40.67070199017694, -73.8742292684109)"
420,SCHOOL OF THE FUTURE @MD BACON,M,2,FLOOD ELIMINATION,618000.00,CIP,M660,"127 22 STREET\nNEW YORK, NY 10010\n(40.7390020...","(40.73900208799275, -73.98552809234425)"
421,SCHOOL SAFETY PARKING LOT,Q,30,SCHOOL SAFETY PARKING LOT,2648000.00,CIP,Q751,"43 30 DUTCH KILLS STREET\nLONG ISLAND CITY, NY...","(40.74570244980828, -73.93866902925225)"
422,SEWARD PARK HS,M,2,CAFETERIA MULTIPURPOSE RM UPG,929000.00,CIP,M445,"350 GRAND STREET\nNew York, NY 10002\n(40.7168...","(40.716852373698316, -73.98959502962896)"
423,SOUTH SHORE HS,K,18,ROOFS/EXT MASONRY/PARAPETS,18887000.00,CIP,K515,"6565 FLATLANDS AVENUE\nBROOKLYN, NY 11236\n(40...","(40.63268510415105, -73.91781691770764)"
427,TAFT HS,X,9,PLANYC BOILER CONVERSION/PLANYC CLIMATE CTRL,10174000.00,CIP,X410,"240 172 STREET\nBRONX, NY 10457\n(40.840387977...","(40.84038797720987, -73.9108816444482)"
428,TELECOM ARTS & TECHNOLOGY H.S.,K,20,EXT MASONRY,4138000.00,CIP,K485,"350 67TH ST\nBrooklyn, NY 11220\n(40.637264628...","(40.63726462862678, -74.02385245520922)"
429,THEODORE ROOSEVELT H.S.,X,10,FLOORS,1593000.00,CIP,X435,"500 FORDHAM ROAD\nBronx, NY 10458\n(40.8599061...","(40.85990614640288, -73.88817875264016)"
430,THEODORE ROOSEVELT H.S.,X,10,SWB - COPPER SIDING,1500000.00,CIP,X435,"500 FORDHAM ROAD\nBronx, NY 10458\n(40.8599061...","(40.85990614640288, -73.88817875264016)"
431,TOTTENVILLE H.S.,R,31,FY10 RESO A AF REPLACEMENT,1452882.00,CIP,R455,"100 LUTEN AVENUE\nStaten Island, NY 10312\n(40...","(40.52826198723337, -74.19217697672369)"
432,TOTTENVILLE HS,R,31,WINDOWS,7960000.00,CIP,R455,"100 LUTEN AVENUE\nStaten Island, NY 10312\n(40...","(40.52826198723337, -74.19217697672369)"
434,URBAN ASSEMBLY ACADEMY,M,2,GIRLS SHOWER ROOM,1014300.00,CIP,M445,"350 GRAND STREET\nNew York, NY 10002\n(40.7168...","(40.716852373698316, -73.98959502962896)"
435,WAGNER HS,R,31,FY06 RESO A ATHLETIC FIELD,5799000.00,CIP,R460,"1200 MANOR ROAD\nStaten Island, NY 10314\n(40....","(40.59771088831585, -74.12366587081469)"
436,WATER'S EDGE EDUCATIONAL COMPL,K,13,ELEVATOR UPGRADE,764398.00,CIP,K805,"49 FLATBUSH AVE EXTENSION\nBROOKLYN, NY 11201\...","(40.69721149151847, -73.98496543482732)"
437,YOUNG WOMENS' LEADERSHIP SCHOO,Q,28,IP SURVEILLANCE CAMERAS,1047000.00,CIP,Q680,"150 91 87TH ROAD\nJAMAICA, NY 11433\n(40.69810...","(40.698104881734935, -73.7875740339145)"

In [90]:
import requests
from bs4 import BeautifulSoup
import html5lib

In [85]:
def get_page(url):
    '''
    Gets page as soup object for the provided url.
    Args:
        url (str): url of movie page
    Returns:
        movie_page (soup object): html of movie page
    '''
    page = BeautifulSoup(requests.get(url).text, 'lxml')
    return page

In [ ]:
http://www.nycgovparks.org/bigapps/DPR_CapitalProjectTracker_001.xml

#### TREES

In [18]:
treepaths = ['data/dem_data/BronxTree.csv', 'data/dem_data/BrooklynTree.csv', 'data/dem_data/ManhattanTree.csv',
             'data/dem_data/QueensTree.csv']

In [20]:
with open('data/dem_data/si_trees.geojson', 'r') as f:
    si_trees = json.load(f)

In [23]:
si_trees_df = pd.DataFrame(si_trees['features'])

In [28]:
si_tree_pts = pd.DataFrame([si_trees['features'][i]['geometry'] for i in range(si_trees_df.shape[0])])

In [30]:
si_tree_pts.head()

                       coordinates   type
0  [-74.0767854906, 40.6409497654]  Point
1  [-74.1527006618, 40.6243338977]  Point
2  [-74.1525110035, 40.6248885979]  Point
3  [-74.0767854906, 40.6409497654]  Point
4  [-74.0767854906, 40.6409497654]  Point

In [31]:
other_trees = pd.concat([pd.read_csv(path) for path in treepaths], axis = 0)

In [33]:
other_trees.loc[0, 'the_geom']

0    POINT (-73.92432944485172 40.811180326510716)
0     POINT (-73.93278962552424 40.70767851396961)
0    POINT (-74.01258448775346 40.708353445987825)
0     POINT (-73.90334954446547 40.75550689809337)
Name: the_geom, dtype: object

In [32]:
other_trees['coordinates'] = other_trees.loc[:, 'the_geom'].split('(')

,BOROUGH,BUILDINGNU,BUILDINGST,COMMDIST,CROSSSTREE,CROSSSTR_1,DIAMETER,FID_1,OBJECTID,OBJECTID_1,ONSTREET,PARITY,SITE,SPECIES,TREECONDIT,TREEID,TREELOCATI,TREEPIT,ZIPCODE,the_geom
0,Bronx,295,ALEXANDER AVENUE,201,EAST 139 STREET,EAST 140 STREET,23,13,NaN,3920,ALEXANDER AVENUE,odd,1,PLAC,3,37450,1,1,10454,POINT (-73.92432944485172 40.811180326510716)
1,Bronx,271,EAST 139 STREET,201,3 AVENUE,ALEXANDER AVENUE,22,13,NaN,3922,EAST 139 STREET,even,4,ULAM,3,37447,1,1,10454,POINT (-73.92604157815805 40.81134337602154)
2,Bronx,293,ALEXANDER AVENUE,201,EAST 139 STREET,EAST 140 STREET,22,13,NaN,3923,ALEXANDER AVENUE,odd,1,PLAC,3,37456,2,1,10454,POINT (-73.92435838832507 40.81114191938108)
3,Bronx,289,ALEXANDER AVENUE,201,EAST 139 STREET,EAST 140 STREET,20,13,NaN,3924,ALEXANDER AVENUE,odd,1,PLAC,3,37462,3,1,10454,POINT (-73.92441627828882 40.811062360202634)
4,Bronx,285,ALEXANDER AVENUE,201,EAST 139 STREET,EAST 140 STREET,20,13,NaN,3925,ALEXANDER AVENUE,odd,1,PLAC,3,37468,4,1,10454,POINT (-73.92447416811378 40.810982801345396)

#### Pickle

In [15]:
with open('data/pickled/airbnb_listings.pkl', 'w') as picklefile:
    pickle.dump(airbnb_listings_det, picklefile)

In [880]:
with open('data/pickled/ss_orig_nyc.pkl', 'w') as picklefile:
    pickle.dump(ss_orig_nyc, picklefile)

In [671]:
with open('data/pickled/ss_withzip.pkl', 'w') as picklefile:
    pickle.dump(ss, picklefile)

In [672]:
with open('data/pickled/crime_withzip.pkl', 'w') as picklefile:
    pickle.dump(crime, picklefile)

### Get reference for census tract data

In [765]:
ct_df = pd.DataFrame(js_ct['features'])

In [760]:
bg_df = pd.DataFrame(js_bg['features'])

In [769]:
properties = [i['properties'] for i in js_ct['features']]

In [772]:
ct_df = pd.DataFrame(properties)

In [773]:
ct_df.head()

,BoroCT2010,BoroCode,BoroName,CDEligibil,CT2010,CTLabel,NTACode,NTAName,PUMA,Shape_Area,Shape_Leng
0,5000900,5,Staten Island,I,000900,9,SI22,West New Brighton-New Brighton-St. George,3903,2497009.69813,7729.016794
1,5012500,5,Staten Island,I,012500,125,SI22,West New Brighton-New Brighton-St. George,3903,4954936.20677,10582.855371
2,5007400,5,Staten Island,I,007400,74,SI14,Grasmere-Arrochar-Ft. Wadsworth,3902,5788237.74119,9902.948235
3,1003200,1,Manhattan,I,003200,32,MN22,East Village,3809,2334190.23228,6358.386684
4,1009600,1,Manhattan,E,009600,96,MN17,Midtown-Midtown South,3807,1887288.40108,5737.356247

In [774]:
ct_df.BoroName

0       Staten Island
1       Staten Island
2       Staten Island
3           Manhattan
4           Manhattan
5           Manhattan
6           Manhattan
7           Manhattan
8           Manhattan
9           Manhattan
10          Manhattan
11          Manhattan
12          Manhattan
13          Manhattan
14          Manhattan
15          Manhattan
16          Manhattan
17          Manhattan
18          Manhattan
19          Manhattan
20          Manhattan
21          Manhattan
22          Manhattan
23          Manhattan
24          Manhattan
25          Manhattan
26          Manhattan
27          Manhattan
28          Manhattan
29          Manhattan
            ...
2136         Brooklyn
2137         Brooklyn
2138         Brooklyn
2139         Brooklyn
2140         Brooklyn
2141         Brooklyn
2142        Manhattan
2143        Manhattan
2144    Staten Island
2145    Staten Island
2146    Staten Island
2147    Staten Island
2148    Staten Island
2149    Staten Island
2150    Staten Island
2151    Staten Island
2152    Staten Island
2153    Staten Island
2154           Queens
2155            Bronx
2156        Manhattan
2157        Manhattan
2158        Manhattan
2159        Manhattan
2160        Manhattan
2161        Manhattan
2162        Manhattan
2163            Bronx
2164            Bronx
2165            Bronx
Name: BoroName, dtype: object

In [776]:
def make_fips(ct2010, borough):
    state = '36'
    boro_dict = {'Bronx': '005', 'Brooklyn': '047', 'Manhattan': '061', 'Queens': '081', 'Staten Island': '085' }
    return state + boro_dict[borough] + str(ct2010)

In [778]:
ct_df['fips'] = ct_df.apply(lambda row: make_fips(row.CT2010, row.BoroName), axis = 1)

In [780]:
tract_dict = dict(zip(ct_df.fips, ct_df.BoroCT2010))

In [793]:
def get_geo_dict(geo_df):
    """Get reference data dict for given geography."""
    properties = [i['properties'] for i in js_bg['features']]
    newdf = pd.DataFrame(properties)
    return newdf

In [795]:
bg_df2 = get_geo_dict(bg_df)

In [796]:
bg_df2.head()

,ALAND10,AWATER10,BLKGRPCE10,COUNTYFP10,FUNCSTAT10,GEOID10,INTPTLAT10,INTPTLON10,MTFCC10,NAMELSAD10,STATEFP10,TRACTCE10
0,17263315,38069,1,007,S,360070121011,+42.2174896,-075.8790269,G5030,Block Group 1,36,012101
1,5586521,104976,4,007,S,360070121014,+42.1831807,-075.8760650,G5030,Block Group 4,36,012101
2,1845677,0,3,007,S,360070121013,+42.1931188,-075.8462160,G5030,Block Group 3,36,012101
3,5082696,183811,4,007,S,360070121024,+42.1823571,-075.8436840,G5030,Block Group 4,36,012102
4,1094202,145781,3,007,S,360070121023,+42.1677108,-075.8793775,G5030,Block Group 3,36,012102

In [782]:
with open('data/pickled/TRACT_DICT.pkl', 'w') as picklefile:
    pickle.dump(tract_dict, picklefile)

In [784]:
with open('data/pickled/TRACT_DF.pkl', 'w') as picklefile:
    pickle.dump(ct_df, picklefile)

In [809]:
with open('data/pickled/BLOCKGROUP_DF.pkl', 'w') as picklefile:
    pickle.dump(bg_df2, picklefile)

### Compare actual crime vs. perceived safety scores

#### Perceived safety scores

Normalize q-scores to 0-10 range.

In [689]:
def normalize(df, score_col, norm_col, range_start = 0, range_end = 10):
    min_score = float(df[score_col].min())
    max_score = float(df[score_col].max())
    norm_func = lambda score: range_start + (float(score) - min_score) * (range_end - range_start) / (max_score - min_score)
    normalized = [norm_func(score) for score in df[score_col].tolist()]
    df.loc[:, norm_col] = normalized

In [701]:
normalize(ss, 'q-score', 'q_norm')
normalize(ss_orig_nyc, 'QS Safer', 'q_norm')

Convert/invert q-score of safety to danger score.

In [730]:
normalize(ss, 'q-score', 'q_norm_rev', range_start = 10, range_end = 0)
normalize(ss_orig_nyc, 'QS Safer', 'q_norm_rev', range_start = 10, range_end = 0)

Get average q-score by zip code.

In [644]:
def agg_qscores(df, geo_col, score_col):
    grouped = df.groupby(geo_col)
    scores = pd.DataFrame(grouped[score_col].mean())
    return scores

In [703]:
ssbyzcta = agg_qscores(ss, 'zcta', 'q_norm')
ss_orig_byzcta = agg_qscores(ss_orig_nyc, 'zcta', 'q_norm')

In [735]:
ssbyz_danger = agg_qscores(ss, 'zcta', 'q_norm_rev')
ssorigbyz_danger = agg_qscores(ss_orig_nyc, 'zcta', 'q_norm_rev')

Get average q-score by Census tract.

In [709]:
ss_by_ct = agg_qscores(ss, 'fips_tract', 'q_norm')
ssorig_by_ct = agg_qscores(ss_orig_nyc, 'fips_tract', 'q_norm')

Export for cartodb viz

In [706]:
def zip_to_cartodb(df, path):
    df['country'] = 'United States'
    df.to_csv(path)

In [707]:
zip_to_cartodb(ssbyzcta, 'data/for_cartodb/ss_by_zcta.csv')
zip_to_cartodb(ss_orig_byzcta, 'data/for_cartodb/ssorig_by_zcta.csv')

In [711]:
zip_to_cartodb(ss_by_ct, 'data/for_cartodb/ss_by_tract.csv')
zip_to_cartodb(ssorig_by_ct, 'data/for_cartodb/ssorig_by_tract.csv')

#### Actual crime scores

In [388]:
def get_crimes_by_zip(df):
    """Given original crimes df, return df of counts by crime type by zip code."""
    byzip = df.groupby(['zcta', 'Offense'])
    crimesdf = byzip.OBJECTID.count().unstack(level=-1)
    crimesdf.fillna(0, inplace = True)
    crimesdf['total'] = crimesdf.sum(axis = 1)
    crimesdf['zcta'] = crimesdf.index
    return crimesdf

In [362]:
def clean_acs(df, zcta_col, data_col):
    """Given ACS zcta data file, return dictionary with key = zcta and values = data."""
    df['zcta'] = df[zcta_col].apply(lambda x: int(x.split()[1]) if len(x.split()) > 1 else x)
    data_dict = dict(zip(df.zcta.values, df[data_col].values.tolist()))
    return data_dict

In [363]:
def clean_acs_df(df, zcta_col, data_col):
    """Given ACS zcta data file, return df of relevant."""
    df['zcta'] = df[zcta_col].apply(lambda x: int(x.split()[1]) if len(x.split()) > 1 else x)
    keep = data_col + ['zcta']
    return df[keep]

In [ ]:
"""normalizing crime:
- crime rate - crime per 100,000 residents
- great post: http://opendata.stackexchange.com/questions/381/how-to-normalize-the-data-when-mapping-crime-reports
"""

In [389]:
crbyzip2014 = get_crimes_by_zip(crime2014)

Normalize data by adding crime rates.

In [318]:
pop = pd.read_csv('data/acs-pop-by-zcta.csv')

# create dictionary of key = zip code, and value = population
pop_zcta = clean_acs(pop, 'GEO.display-label', ['HC01_VC03'])

In [391]:
# map population and divide crime by population
crbyzip2014['population'] = crbyzip2014.zcta.apply(lambda x: int(pop_zcta[x][0]) if x in pop_zcta else np.nan)
crbyzip2014['crime_p_1k'] = (crbyzip2014.total / crbyzip2014.population) * 1000

In [725]:
# drop nans and 0s
crbyzip2014.dropna(subset = ['crime_p_1k'], inplace = True)
crbyzip2014 = crbyzip2014[crbyzip2014.population > 1]

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [729]:
zip_to_cartodb(crbyzip2014, 'data/for_cartodb/crime_by_zip_2014.csv')

#### Compare crime vs. perceived safety

Potential scores:
* ratio of perceived safety (or perceived crime, inverse) to actual crime rate
* quantile/rank of zip compared to other zip codes? e.g. 5th most "least safe" (dangerous) vs. 100th highest crime rate

In [736]:
ssbyz_danger.head()

       q_norm_rev
zcta
10001    3.619298
10002    3.829057
10003    3.341040
10004    4.566766
10005    4.159614

In [737]:
crbyzip2014.head()

Offense,BURGLARY,FELONY ASSAULT,GRAND LARCENY,GRAND LARCENY OF MOTOR VEHICLE,MURDER & NON-NEGL. MANSLAUGHTE,RAPE,ROBBERY,total,zcta,population,crime_p1000,crime_p_1k,country
zcta,,,,,,,,,,,,,
10001,134,40,836,16,0,0,52,1078,10001,22767,4734.923354,47.349234,United States
10002,88,190,566,35,1,6,143,1029,10002,79894,1287.956542,12.879565,United States
10003,97,69,862,24,0,19,70,1141,10003,57068,1999.369174,19.993692,United States
10004,22,12,92,2,0,0,4,132,10004,3024,4365.079365,43.650794,United States
10005,4,7,114,6,0,0,11,142,10005,7570,1875.825627,18.758256,United States

In [738]:
ratios_by_zip = ssbyz_danger.merge(crbyzip2014, left_index = True, right_index = True)

In [740]:
keep = ['q_norm_rev', 'crime_p_1k']

In [741]:
ratios = ratios_by_zip[keep]

In [743]:
ratios['crime_ratio'] = ratios.q_norm_rev / ratios.crime_p_1k

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [745]:
ratios.sort_values(by = 'crime_ratio', ascending = False)

       q_norm_rev  crime_p_1k  crime_ratio
zcta
10280    4.732504    1.814676     2.607906
10312    3.737261    2.798462     1.335470
10314    3.939777    3.713267     1.061000
11357    3.682912    3.523209     1.045329
11363    4.590532    4.459016     1.029494
10308    3.918249    4.261030     0.919554
11430    4.997403    5.847953     0.854556
10307    3.704024    4.398241     0.842160
10305    4.120639    5.039666     0.817641
11377    4.026929    4.980942     0.808467
10309    3.745097    4.643221     0.806573
10306    3.899698    4.900889     0.795712
11365    3.643825    4.613102     0.789886
11360    3.982602    5.071299     0.785322
11373    3.832533    5.461063     0.701793
11697    5.125411    7.356547     0.696714
11694    4.027027    5.812061     0.692874
11375    3.377479    4.895768     0.689877
11219    3.654010    5.378904     0.679322
11204    3.648901    5.388991     0.677103
10023    3.495877    5.266449     0.663802
11362    4.061684    6.258032     0.649035
11379    3.771906    5.850245     0.644743
11364    3.528006    5.529769     0.638002
11385    3.846733    6.181840     0.622263
11105    3.985169    6.518905     0.611325
11414    4.456941    7.306381     0.610007
10471    3.666643    6.291315     0.582810
10465    4.170674    7.290768     0.572049
10461    4.194336    7.437780     0.563923
...           ...         ...          ...
11221    3.544933   18.681437     0.189757
10026    3.139376   16.835192     0.186477
10459    4.043394   21.898113     0.184646
11233    3.791983   21.425392     0.176985
10035    4.186165   23.676640     0.176806
10030    3.169088   18.184897     0.174270
11225    3.461241   20.649858     0.167616
10003    3.341040   19.993692     0.167105
10014    3.681867   22.396733     0.164393
11213    3.407803   21.384409     0.159359
10011    3.572843   22.496742     0.158816
11436    3.996120   27.513569     0.145242
10037    3.952149   27.215786     0.145215
11216    3.341766   23.163115     0.144271
10022    3.675740   25.657430     0.143262
11217    3.693870   25.928903     0.142461
10019    3.705326   26.656689     0.139002
11239    4.161356   31.213784     0.133318
10474    4.901853   36.897652     0.132850
10010    3.707706   27.940602     0.132700
11201    3.848309   30.130293     0.127722
10470    3.754562   29.569892     0.126972
10004    4.566766   43.650794     0.104620
11109    4.701899   50.034586     0.093973
10012    3.632688   38.718506     0.093823
10018    4.591444   49.119325     0.093475
10036    3.822596   45.011812     0.084924
10007    3.236010   38.678127     0.083665
10001    3.619298   47.349234     0.076438
10162    3.917865  126.198083     0.031045

[175 rows x 3 columns]

### Test functions

In [61]:
testlist = zip_list[:5]
testpoint = zip_list[0][0]

In [74]:
tp2 = (40.6608, -73.9515)

In [73]:
get_zip(testpoint, testlist)

10001

In [ ]:
40.8115	-73.9668

In [171]:
get_zip_diff((40.7719, -73.9931), zip_list)

11371

In [62]:
print testlist
print testpoint

[((40.750741999999995, -73.996530000000007), 10001), ((40.717040000000004, -73.986999999999995), 10002), ((40.732509, -73.989350000000002), 10003), ((40.706018999999998, -74.008580000000009), 10005), ((40.707903999999999, -74.013419999999996), 10006)]
(40.750741999999995, -73.996530000000007)

In [194]:
# test some more
with open('data/ss_orig_withzips.pkl', 'r') as picklefile:
    ssorig = pickle.load(picklefile)

In [136]:
%time add_zips_df(ssorig)

CPU times: user 11.1 s, sys: 83.9 ms, total: 11.2 s
Wall time: 11.2 s

In [201]:
ssorig.zipcode2 = ssorig.zipcode2.apply(str)
ssorig.zipcode_diff = ssorig.zipcode_diff.apply(str)

In [202]:
ssorig['zip_error_dist'] = ssorig.zipcode == ssorig.zipcode2
ssorig['zip_error_diff'] = ssorig.zipcode == ssorig.zipcode_diff

In [205]:
# 25% incorrect... 
print ssorig.zip_error_dist.value_counts()[0]/float(ssorig.shape[0])
print ssorig.zip_error_diff.value_counts()[0]/float(ssorig.shape[0])

0.256364712848
0.269390171699

In [195]:
add_zips_df_diff(ssorig, 'Lat', 'Lon')

In [199]:
add_zips_df(ssorig, 'Lat', 'Lon')

In [203]:
ssorig

,City,Error in QS Safer,Error in QS Unique,Error in QS Upperclass,File_Location,Heading,ID,Lat,Lon,Pitch,QS Safer,QS Unique,QS Upperclass,zipcode,fips,zipcode_diff,zipcode2,zip_error_dist,zip_error_diff
1226,New York City,0.47,0.58,0.56,/images/id_825_400_300.jpg,123,825,40.6608,-73.9515,4,4.66,4.67,4.62,11225,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11225,11225,True,True
1227,New York City,0.44,0.73,0.55,/images/id_824_400_300.jpg,194,824,40.7667,-73.9385,7,3.98,4.98,4.98,11106,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11106,11106,True,True
1228,New York City,0.45,0.68,0.54,/images/id_827_400_300.jpg,184,827,40.8115,-73.9668,2,4.81,4.55,4.28,10027,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10115,10115,False,False
1229,New York City,0.35,0.51,0.45,/images/id_826_400_300.jpg,156,826,40.7719,-73.9931,3,3.03,4.37,4.33,10019,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10069,10069,False,False
1230,New York City,0.49,0.71,0.59,/images/id_821_400_300.jpg,166,821,40.7635,-73.8676,4,5.46,4.28,5.06,11369,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11369,11369,True,True
1232,New York City,0.54,0.74,0.51,/images/id_823_400_300.jpg,152,823,40.7541,-73.9902,5,5.23,5.41,4.93,10018,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10123,10018,True,False
1233,New York City,0.31,0.65,0.14,/images/id_822_400_300.jpg,200,822,40.7266,-73.9390,4,3.21,4.17,3.22,11222,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11222,11222,True,True
1236,New York City,0.49,0.77,0.58,/images/id_4258_400_300.jpg,349,4258,40.6128,-74.0011,17,4.35,4.18,4.03,11214,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11228,11228,False,False
1238,New York City,0.57,0.86,0.77,/images/id_4312_400_300.jpg,20,4312,40.6438,-73.9668,3,6.86,5.15,7.78,11218,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11218,11218,True,True
1256,New York City,0.44,0.50,0.56,/images/id_797_400_300.jpg,167,797,40.6430,-74.0114,1,6.12,6.45,6.30,11220,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11220,11220,True,True
1259,New York City,0.52,0.69,0.44,/images/id_794_400_300.jpg,185,794,40.7306,-73.9956,1,5.52,6.18,6.86,10003,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10012,10012,False,False
1261,New York City,0.47,0.75,0.37,/images/id_792_400_300.jpg,148,792,40.6918,-73.9485,2,5.00,6.31,3.55,11216,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11216,11206,False,True
1262,New York City,0.41,0.67,0.50,/images/id_791_400_300.jpg,145,791,40.8164,-73.9189,3,6.16,5.00,4.58,10455,"{u'County': {u'FIPS': u'36005', u'name': u'Bro...",10451,10451,False,False
1266,New York City,0.32,0.39,0.32,/images/id_799_400_300.jpg,184,799,40.6279,-73.8990,2,3.03,3.09,2.77,11236,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11236,11236,True,True
1267,New York City,0.36,0.66,0.20,/images/id_798_400_300.jpg,286,798,40.6359,-73.9126,0,3.07,3.90,2.73,11236,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11236,11236,True,True
1268,New York City,0.55,0.76,0.58,/images/id_4318_400_300.jpg,22,4318,40.6281,-73.9220,5,6.48,3.67,5.59,11234,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11234,11234,True,True
1270,New York City,0.45,0.22,0.70,/images/id_610_400_300.jpg,187,610,40.6887,-73.8402,8,4.70,3.16,4.78,11416,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11431,11431,False,False
1274,New York City,0.58,0.64,0.57,/images/id_4063_400_300.jpg,16,4063,40.6877,-73.9180,6,4.22,4.38,4.67,11221,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11233,11221,True,False
1282,New York City,0.48,0.70,0.48,/images/id_4257_400_300.jpg,113,4257,40.6666,-73.8479,3,2.74,3.06,2.95,11414,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11417,11414,True,False
1284,New York City,0.48,0.82,0.65,/images/id_4066_400_300.jpg,344,4066,40.7503,-73.9733,6,6.20,4.52,6.57,10017,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10017,10174,False,True
1285,New York City,0.48,0.58,0.49,/images/id_4256_400_300.jpg,336,4256,40.6784,-73.8331,11,1.65,1.89,2.04,11417,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11417,11417,True,True
1297,New York City,0.48,0.63,0.61,/images/id_519_400_300.jpg,185,519,40.7574,-74.0048,2,4.54,4.18,4.24,10018,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10199,10199,False,False
1298,New York City,0.44,0.68,0.48,/images/id_518_400_300.jpg,222,518,40.7518,-73.8613,4,3.50,4.71,3.83,no data,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11368,11368,False,False
1303,New York City,0.36,0.63,0.48,/images/id_510_400_300.jpg,146,510,40.6282,-74.0251,5,5.54,5.25,4.53,11209,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11209,11209,True,True
1305,New York City,0.42,0.98,0.55,/images/id_512_400_300.jpg,163,512,40.6387,-73.9998,3,5.59,5.50,5.43,11219,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11219,11219,True,True
1307,New York City,0.50,0.59,0.55,/images/id_514_400_300.jpg,149,514,40.7672,-73.9820,4,5.08,5.96,5.30,10019,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10107,10107,False,False
1308,New York City,0.43,0.78,0.53,/images/id_517_400_300.jpg,135,517,40.7779,-73.9598,6,5.49,5.35,6.31,10028,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10028,10028,True,True
1310,New York City,0.60,0.74,0.63,/images/id_4189_400_300.jpg,33,4189,40.6948,-73.9712,11,8.33,7.11,7.59,11205,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11205,11205,True,True
1312,New York City,0.23,0.84,0.40,/images/id_621_400_300.jpg,154,621,40.6438,-74.0202,1,3.12,4.01,3.33,11220,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11220,11220,True,True
1314,New York City,0.45,0.57,0.58,/images/id_627_400_300.jpg,184,627,40.7019,-73.9946,5,4.66,4.35,4.27,11201,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11201,11201,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093,New York City,0.45,0.60,0.50,/images/id_4179_400_300.jpg,21,4179,40.6362,-73.9287,0,0.94,2.66,1.15,11234,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11203,11203,False,False
1098,New York City,0.53,0.60,0.45,/images/id_238_400_300.jpg,147,238,40.8161,-73.9435,3,5.72,5.19,6.09,10030,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10030,10030,True,True
1099,New York City,0.46,0.62,0.50,/images/id_239_400_300.jpg,147,239,40.6173,-74.0131,1,6.32,4.13,6.32,11228,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11228,11228,True,True
1100,New York City,0.56,0.67,0.56,/images/id_234_400_300.jpg,161,234,40.7408,-73.9268,2,5.12,4.52,4.73,11101,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11104,11104,False,False
1104,New York City,0.43,0.64,0.63,/images/id_230_400_300.jpg,186,230,40.8104,-73.9152,8,5.82,4.50,5.59,10454,"{u'County': {u'FIPS': u'36005', u'name': u'Bro...",10454,10454,True,True
1105,New York City,0.49,0.57,0.55,/images/id_231_400_300.jpg,221,231,40.6692,-73.9139,5,5.25,5.40,3.93,11212,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11212,11212,True,True
1107,New York City,0.26,0.70,0.14,/images/id_233_400_300.jpg,280,233,40.6443,-73.9908,6,3.11,4.68,2.95,11219,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11218,11218,False,False
1120,New York City,0.29,0.25,0.51,/images/id_146_400_300.jpg,177,146,40.6982,-73.9964,3,7.07,7.19,7.32,11201,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11201,11201,True,True
1121,New York City,0.33,0.11,0.50,/images/id_147_400_300.jpg,221,147,40.5845,-73.9310,-1,3.60,3.21,3.99,11235,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11235,11235,True,True
1122,New York City,0.40,0.80,0.55,/images/id_144_400_300.jpg,206,144,40.6681,-73.9007,1,3.76,6.07,4.33,11207,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11207,11207,True,True
1123,New York City,0.45,0.73,0.54,/images/id_145_400_300.jpg,155,145,40.8178,-73.9399,0,4.80,5.76,4.55,10030,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10030,10030,True,True
1124,New York City,0.46,0.65,0.48,/images/id_142_400_300.jpg,236,142,40.6538,-73.9560,-4,3.75,4.53,4.23,11226,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11226,11226,True,True
1125,New York City,0.56,0.94,0.47,/images/id_143_400_300.jpg,242,143,40.6874,-73.8602,-1,4.85,5.52,4.29,11421,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11421,11421,True,True
1126,New York City,0.46,0.51,0.59,/images/id_140_400_300.jpg,114,140,40.6631,-73.9378,3,4.31,3.72,4.34,11203,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11213,11213,False,False
1127,New York City,0.39,0.68,0.33,/images/id_141_400_300.jpg,175,141,40.6142,-73.9413,1,3.44,4.11,3.15,11234,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11229,11210,False,False
1128,New York City,0.54,0.26,0.41,/images/id_148_400_300.jpg,118,148,40.7639,-73.9977,4,4.43,3.03,3.49,10036,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10036,10036,True,True
1129,New York City,0.45,0.71,0.44,/images/id_149_400_300.jpg,171,149,40.8723,-73.9195,2,4.68,5.30,3.63,10034,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10034,10034,True,True
1143,New York City,0.39,0.72,0.60,/images/id_121_400_300.jpg,195,121,40.6257,-73.9515,7,6.52,5.89,6.01,11210,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11210,11210,True,True
1155,New York City,0.30,0.71,0.47,/images/id_124_400_300.jpg,204,124,40.6862,-73.9685,0,6.84,5.25,6.90,11238,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11205,11238,True,False
1157,New York City,0.51,0.58,0.54,/images/id_125_400_300.jpg,192,125,40.5966,-73.9886,-4,4.50,3.74,5.25,11214,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11214,11214,True,True
1159,New York City,0.45,0.73,0.55,/images/id_126_400_300.jpg,209,126,40.7320,-73.9001,8,5.54,5.64,4.84,11378,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11378,11378,True,True
1162,New York City,0.45,0.42,0.56,/images/id_128_400_300.jpg,46,128,40.6117,-73.9472,-3,5.00,3.60,4.78,11229,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11210,11229,True,False
1174,New York City,0.49,0.83,0.60,/images/id_3795_400_300.jpg,129,3795,40.8215,-73.9212,3,4.56,4.23,3.98,10451,"{u'County': {u'FIPS': u'36005', u'name': u'Bro...",10451,10451,True,True
1175,New York City,0.58,0.76,0.62,/images/id_3794_400_300.jpg,311,3794,40.6762,-73.9516,5,5.50,4.84,5.30,11216,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11216,11216,True,True
1176,New York City,0.64,0.62,0.66,/images/id_3797_400_300.jpg,270,3797,40.6375,-73.9886,3,5.60,5.01,5.19,11219,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11219,11219,True,True
1178,New York City,0.59,0.72,0.59,/images/id_3791_400_300.jpg,51,3791,40.7745,-73.9367,4,3.02,3.73,3.25,11102,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11102,11102,True,True
1179,New York City,0.52,0.67,0.62,/images/id_3790_400_300.jpg,301,3790,40.7226,-73.8499,6,2.65,2.56,3.36,11375,"{u'County': {u'FIPS': u'36081', u'name': u'Que...",11375,11375,True,True
1180,New York City,0.55,0.79,0.65,/images/id_3793_400_300.jpg,144,3793,40.7118,-73.9969,11,4.07,7.33,4.83,10002,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10038,10038,False,False
1181,New York City,0.55,0.79,0.62,/images/id_3792_400_300.jpg,351,3792,40.7047,-73.9617,1,6.62,6.52,5.11,11211,"{u'County': {u'FIPS': u'36047', u'name': u'Kin...",11205,11211,True,False
1224,New York City,0.48,0.71,0.52,/images/id_828_400_300.jpg,156,828,40.7294,-73.9779,5,4.79,5.01,4.36,10009,"{u'County': {u'FIPS': u'36061', u'name': u'New...",10009,10009,True,True

In [434]:
ssorig.loc[1226, 'fips']

{u'Block': {u'FIPS': u'360470800002000'},
 u'County': {u'FIPS': u'36047', u'name': u'Kings'},
 u'State': {u'FIPS': u'36', u'code': u'NY', u'name': u'New York'},
 u'executionTime': u'192',
 u'status': u'OK'}

In [425]:
ss.head()

    latitude  longitude    q-score  zipcode    q_norm   zcta
0  40.700909 -74.013504  11.062166    10041  3.204716  10004
1  40.701000 -74.013878  10.818611    10041  3.152896  10004
2  40.701080 -74.012878  12.677955    10041  3.548501  10004
3  40.701187 -74.013268  11.417325    10041  3.280282  10004
4  40.701244 -74.012115  25.199091    10041  6.212573  10004